.drill_down {
    margin-bottom: 0;
    list-style-type: none;
}
.drill_down li {
    display:inline;
    margin-right: 3px;
}
.drill_down li select {
    width: 150px;
}
.left-border-grey {
    border-left: 1px solid $dark-gray;
}
