
body {
    background-position: center top;
    font-family: Roboto, sans-serif !important;
    /*padding-bottom:25px;*/
}
.thin-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 5em;
}
.white {
    color: white;
}

.small-text {
    font-size: $small-text;
}
.medium-text {
    font-size: $medium-text;
}
.large-text {
    font-size: $large-text;
}
.x-large-text {
    font-size: $x-large-text;
}

/***********
Home
***********/
#home-logo {
    max-width:300px;
}
div.video-section {
    width:70%;
    margin: 2em auto 2em !important;

    @media (max-width: $breakpoint-medium ) {
        width:100%;
    }
}

/************
Sections
************/
.gradient-wrapper {
     background: linear-gradient($gradient-light, $gradient-dark);
 }
.gradient-wrapper-reverse {
    background: linear-gradient($gradient-dark, $gradient-light);
}
.deep-blue-section {
    background-color: $primary;
    border-bottom: 1px solid $primary;
    color: $white;

    h2 {
        font-family: 'Roboto', sans-serif;
        font-weight: 100;
        font-size: 3.5em;
        color: $white;
        text-align:center;
    }
    h3 {
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: 1.5em;
        color: $white;
    }
}
.light-blue-section {
    background-color: $secondary;
}
.white-section {
    background:white;
    border-bottom: 1px solid $white;
    color: $primary;

    h2 {
        font-family: 'Roboto', sans-serif;
        font-weight: 100;
        font-size: 3.5em;
        color: $primary;
        text-align:center;
    }
    h3 {
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: 1.5em;
        color: $primary;
    }
}
.white-notch {
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 30px solid white;
    margin-top:0;
    margin-bottom:15px;
}
.blue-notch {
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 30px solid $primary;
    margin-top:0;
    margin-bottom:15px;
}
.section-padding {
    padding: 1em;
    @media (max-width: $breakpoint-medium ) {

    }
}

/**
Action Buttons
 */
.white-button {
    background:white;
    color: $primary;
    padding:0.5em 2em;
}

/**
Layout
 */

.wp-block-media-text {
    margin-bottom: 1em;
}

.highlight-background {
    background-color: $white;
    transition: 0.3s;
}

.highlight-background:hover {
    background-color: #f1faff;
}

.sidebar {
    .widget {
        padding: 1em;
    }
    .widgettitle {
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
    }
}

/**
Post Section
 */
.content {
    font-family: 'Roboto', sans-serif;

    h2 {
        font-family: 'Roboto', sans-serif;
        font-weight: 100;
        font-size: 3.5em;
        color: $primary;
        text-align:center;
    }
    h3 {
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: 1.5em;
        color: $primary;
    }
}
.page-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 3.5em;
    color: $primary;
    text-align:center;
}
.article-header {
    h2 {
        font-family: 'Roboto', sans-serif;
        font-weight: 100;
    }
}
