
body {
    background-position: center top;
    font-family: Roboto, sans-serif !important;
    font-size: 1.1rem;
}
h1 {
    font-size: $x-jumbo-text;
    font-weight:700;
    text-align: left;
    color: $primary-color;
    line-height: $x-jumbo-text;

    .page-title {

        font-weight: 100;
        //font-size: 3.5em;
        //color: $primary;
        //text-align:center;
    }

    @media (max-width: $breakpoint-medium ) {
        font-size: 2.2rem;
    }

}
h2 {
    font-size: $x-large-text;
    //padding-top: $x-large-text;
    //padding-bottom: $small-text;
}
h3 {
    font-size: $large-text;
    //padding-top: $large-text;
}
h4 {

}
h5 {

}
a {
    text-decoration: underline;
}
.button {
    text-decoration: none;
}
figcaption {
    text-align: center;
    font-size: .8rem;
}
#zume-vision {
    font-weight: 300;
    text-align: center;
    line-height: 2.5rem;
}


.thin-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}
.white {
    color: white;
}

.small-text {
    font-size: $small-text;
}
.medium-text {
    font-size: $medium-text;
}
.large-text {
    font-size: $large-text;
}
.x-large-text {
    font-size: $x-large-text;
}

.narrow-width {
    max-width: 780px;
    margin: 0 auto;
}


/***********
Home
***********/
#home-logo {
    max-width:300px;
}
.home-counter {
    font-size: 3em;
    font-weight: 100;

    @media (max-width: $breakpoint-medium ) {
        font-size: 2em;
    }
}
div.video-section {
    width:70%;
    margin: 2em auto 2em !important;

    @media (max-width: $breakpoint-medium ) {
        width:100%;
    }
}
.news-section {
    img {
        width:100%;
        height:10em;
        object-fit: cover;
    }
}

/************
Sections
************/
.gradient-wrapper {
     background: linear-gradient($gradient-light, $gradient-dark);
 }
.gradient-wrapper-reverse {
    background: linear-gradient($gradient-dark, $gradient-light);
}
.deep-blue-section {
    background-color: $primary;
    border-bottom: 1px solid $primary;
    color: $white;
    .cell {
        padding-bottom: $medium-text;

        @media (max-width: $breakpoint-medium ) {
            padding-bottom: $small-text;
        }
    }
    h1 {
        color: $white;
        font-weight: 100;
        font-size: $x-jumbo-text;

        @media (max-width: $breakpoint-medium ) {
            font-size: $x-large-text;
        }
    }

    h2 {
        font-family: 'Roboto', sans-serif;
        font-weight: 100;
        font-size: $x-jumbo-text;
        color: $white;
        text-align:center;

        @media (max-width: $breakpoint-medium ) {
            font-size: $x-large-text;
        }
    }
    h3 {
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: $large-text;
        color: $white;

        @media (max-width: $breakpoint-medium ) {
            font-size: $medium-text;
        }
    }
}
.light-blue-section {
    background-color: $secondary;
}
.white-section {
    background:white;
    padding-bottom: $x-jumbo-text;
    border-bottom: 1px solid $white;
    color: $primary;

    @media (max-width: $breakpoint-medium ) {
        padding-bottom: $large-text;
    }

    h2 {
        font-family: 'Roboto', sans-serif;
        font-weight: 100;
        font-size: $stupid-big-text;
        color: $primary;
        text-align:center;

        @media (max-width: $breakpoint-medium ) {
            font-size: $jumbo-text;
        }
    }
    h3 {
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: $large-text;
        color: $primary;

        @media (max-width: $breakpoint-medium ) {
            font-size: $large-text;
        }
    }
}
.white-notch-wrapper {
    background-color: $primary;
}
.white-notch {
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 30px solid white;
    margin-top:0;
    margin-bottom:15px;
}
.blue-notch-wrapper {
    background-color: $white;
}
.blue-notch {
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 30px solid $primary;
    margin-top:0;
    margin-bottom:15px;
}
.transparent-notch-wrapper {
    background-color: $primary;
}
.transparent-notch {
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 30px solid white;
    margin-top:0;
    margin-bottom:15px;
}
.section-padding {
    padding: 1em;
    @media (max-width: $breakpoint-medium ) {

    }
}
.content-large {
    padding: 12px 0;
    font-size: $large-text;

    @media (max-width: $breakpoint-medium ) {
        font-size: $medium-text;
        padding: 8px 0;
    }
}

/**
Action Buttons
 */
.white-button {
    background:white;
    color: $primary;
    padding:0.5em 2em;
}

/**
Layout
 */

.wp-block-media-text {
    margin-bottom: 1em;
}

.highlight-background {
    background-color: $white;
    transition: 0.3s;
}

.highlight-background:hover {
    background-color: #f1faff;
}

.highlight-background-hover {
    font-weight: 700 !important;
    background-color: #f1faff;
}

.sidebar {
    .widget {
        padding: 1em;
    }
    .widgettitle {
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
    }
}

/**
Post Section
 */
.content {
    font-family: 'Roboto', sans-serif;

    h2 {
        font-family: 'Roboto', sans-serif;
        font-weight: 100;
        font-size: 3.5em;
        color: $primary;
        text-align:center;
    }
    h3 {
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: 1.5em;
        color: $primary;
    }
}

.article-header {
    h2 {
        font-family: 'Roboto', sans-serif;
        font-weight: 100;
    }
}

/**
Timeline
@link https://codepen.io/web_designer_sanchit/pen/eLjvyw
 */
.timeline{
    position:relative;
    margin:50px auto;
    padding:0;
    width:1000px;
    box-sizing:border-box;
}
.timeline:before{
    content:'';
    position:absolute;
    left:50%;
    width:2px;
    height:100%;
    background:#c5c5c5;
}
.timeline ul{
    padding:0;
    margin:0;
}
.timeline ul li{
    list-style:none;
    position:relative;
    width:50%;
    padding:20px 40px;
    box-sizing:border-box;
}
.timeline ul li:nth-child(odd){
    float:left;
    text-align:right;
    clear:both;
}
.timeline ul li:nth-child(even){
    float:right;
    text-align:left;
    clear:both;
}
.content{
    padding-bottom:20px;
}
.image-width {
    max-width: 800px;
}
.timeline ul li:nth-child(odd):before
{
    content:'';
    position:absolute;
    width:10px;
    height:10px;
    top:24px;
    right:-6px;
    background:$primary;
    border-radius:50%;
    box-shadow:0 0 0 3px $secondary;
}
.timeline ul li:nth-child(even):before
{
    content:'';
    position:absolute;
    width:10px;
    height:10px;
    top:24px;
    left:-4px;
    background:$primary;
    border-radius:50%;
    box-shadow:0 0 0 3px $secondary;
}
.timeline ul li h3{
    padding:0;
    margin:0;
    color:$primary;
    font-weight:600;
}
.timeline ul li p{
    margin:10px 0 0;
    padding:0;
}
.timeline ul li .time h4{
    margin:0;
    padding:0;
    font-size:14px;
}
.timeline ul li:nth-child(odd) .time
{
    position:absolute;
    top:12px;
    right:-165px;
    margin:0;
    padding:8px 16px;
    background:$primary;
    color:#fff;
    border-radius:18px;
    box-shadow:0 0 0 3px $secondary;
}
.timeline ul li:nth-child(even) .time
{
    position:absolute;
    top:12px;
    left:-165px;
    margin:0;
    padding:8px 16px;
    background:$primary;
    color:#fff;
    border-radius:18px;
    box-shadow:0 0 0 3px $secondary;
}
@media(max-width:1000px)
{
    .timeline{
        width:100%;
    }
}
@media(max-width:767px){
    .timeline{
        width:100%;
        padding-bottom:0;
    }
    h1{
        font-size:40px;
        text-align:center;
    }
    .timeline:before{
        left:20px;
        height:100%;
    }
    .timeline ul li:nth-child(odd),
    .timeline ul li:nth-child(even)
    {
        width:100%;
        text-align:left;
        padding-left:50px;
        padding-bottom:50px;
    }
    .timeline ul li:nth-child(odd):before,
    .timeline ul li:nth-child(even):before
    {
        top:-18px;
        left:16px;
    }
    .timeline ul li:nth-child(odd) .time,
    .timeline ul li:nth-child(even) .time{
        top:-30px;
        left:50px;
        right:inherit;
    }
}


/**
Progress
 */
.progress-counter {
    font-size: $x-large-text;
    font-weight: 500;

    @media (max-width: $breakpoint-medium ) {
        font-size: $x-large-text;
    }
}
.underline {
    text-decoration: underline solid !important;

}


/*********************/
// Posts
/*********************/
#post-nav {
    padding: $small-text;
    max-width: 1100px;
    margin: 0 auto;

    .breadcrumb {
        color: $black;

        a {
            color: $primary-color;
        }
    }
    .breadcrumb-mobile {
        text-align: center;

        a {
            color: $primary-color;
            text-decoration: underline;
        }
    }
}
#post-main {
    padding: 0 $medium-text;
    max-width: 1100px;
    margin: 0 auto;

    h3 {
        font-weight:bold;
    }

    .blog {
        max-width: 700px;

        h2 {
            padding-top: $large-text;
        }

        ul, ol {
            padding-left: $jumbo-text;
            padding-right: $jumbo-text;

            @media (max-width: $breakpoint-medium ) {
                padding-left: $large-text;
                padding-right: $large-text;
            }

            li {
                padding-bottom: $small-text;
            }
        }

        article {

            .article-section {
                padding-top: $x-large-text;
                padding-bottom: $medium-text;
                border-bottom: 1px solid $light-gray;
            }

            header {

                h3 {
                    font-weight:bold;
                }

                .hero-image {
                    width:700px;
                    height: 300px;
                    background-repeat: no-repeat;
                    background-size: cover;

                    @media (max-width: $breakpoint-medium ) {
                        width:100%;
                        height: 150px;
                    }
                }
            }

        }

        article > header > h1 {
            padding: $jumbo-text 0 $medium-text;
        }

        section {
            h2 {
                padding: $x-large-text 0 $small-text;
            }
        }

        .reports-content {
            h1 {
                font-weight: bold;
                font-size: 100%;
            }
            h2 {
                font-weight: bold;
                font-size: 100%;
            }
            h3 {
                font-weight: bold;
                font-size: 100%;
            }
            h4 {
                font-weight: bold;
                font-size: 100%;
            }
            h5 {
                font-weight: bold;
                font-size: 100%;
            }
            h6 {
                font-weight: bold;
                font-size: 100%;
            }
        }
    }

    figure.wp-block-pullquote {
        margin-top: $x-large-text;
        margin-bottom: $x-large-text;
        border-top: 1px solid $light-gray;
        border-bottom: 1px solid $light-gray;

        blockquote {
            border-left: 0 solid $white !important;

            p {
                font-size: 700;
            }
        }
    }
    blockquote {
        p {
            font-weight: 700;
        }
    }

    blockquote.wp-block-quote {
        font-style: italic;
    }

    .sidebar {

    }

    .fi-check {
        color: $secondary-color;
        padding-right: $medium-text;
    }
    .fi-x {
        color: $medium-gray;
        padding-right: $medium-text;
    }

    .recent-articles {
        li {
            line-height: $large-text;
        }
    }

}

.sidebar-menu {
    .submenu {
        padding-left: $medium-text;
    }
    li {
        background-color: $white;
        transition: 0.3s;
    }
    li:hover {
        background-color: #f1faff;
    }
}

.pagination {
    a {
        color: $primary-color;
    }
}


/**
Detail edits for About page
 */
#about-zume-logo {
    width: 300px;

    @media (max-width: $breakpoint-medium ) {
        height:80px;
    }
}

#about-statement {
    @media (max-width: $breakpoint-medium ) {
        font-size: $large-text;
    }
}

// coaching request page
.coach-title {
    font-size: $x-large-text;
    vertical-align: middle;
    text-wrap: none;
    color: $primary-color;

    @media (max-width: $breakpoint-medium) {
        font-size: $large-text;
    }
}
.coach-body {
    color: $primary-color;
    @media (max-width: $breakpoint-medium) {
        font-size: $small-text;
    }
}
.coach-icon {
    color: $primary-color;
    font-size: $stupid-big-text;
    vertical-align: middle;
    @media (max-width: $breakpoint-medium) {
        font-size: $x-jumbo-text;
    }
}

#connection-request-form {
    table {
        tr {
            border-bottom:none;
        }
    }
}
.secondary-color {
    color: #00aeff;
}

.page-content {
    max-width:1100px;
    margin: 0 auto;
}
